<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LabExternal_q1_q2/src/q1_telDir/MainClass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="q1_telDir.MainClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LabExternal_q1_q2"/>
</launchConfiguration>
